.titulo {
  border-radius: 20px;
  width: min(96%, 1180px);
  min-height: 150px;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(156, 26, 26);
  box-sizing: border-box;
}

.titulo h1,
.titulo h2 {
  color: rgb(255, 255, 255);
}
